*{
    font-family: 'Poppins',sans-serif;
}
.navbar{
    font-size: 15px;
    font-weight: bold;
}
.sticky{
    background-color: black;
}
#navbar li :hover{
    color: crimson;
}

#welcomePart{
    height: 100vh;
    width: 100%;
    min-width: 600px;
    padding: 50px;
    padding-top: 200px;
    background-image: url("asets/landing2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.row{
    padding: 5px;
}

#welcomePart .col-6{
    padding: 30px;
    padding-top: 30px;
    justify-content: center;
}
 .col-md-6 img{
    height: 350px;
    text-align: center;
    justify-content: center;
}
#welcomePart .h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
}
#welcomePart .h3{
    color: black;
    padding: 10px;
    font-size: 20px;
}

#welcomePart .h2{
    font-weight: 1000;
    color: black;
    font-size: 30px;
}
#welcomePart .btn{
    font-size: 20px;
    margin-left: 10px;
}
.about{
    height: 115vh;
    width: 100%;
}

.about .row,.project .row, .contact .row{
    padding: 30px;
    padding-top: 50px;
}
.about .p{
    font-size: 20px;
}
.about .h2, .contact .h2{
    font-weight: bold;
    text-align: center;
}
.h2{
    font-weight: bold;
}
.about a{
    margin-top: 20px;
}
.project .h2{
    font-weight: bold;
    text-align: center;
}
.project{
    background-color: #131313;
    color: white;
    width: 100%;
    
}
.project .btn{
    font-size: 20px;
}
.project .row .btn a :hover{
    color: black;
}
.project .col-md-6 .h3{
    color: crimson;
}
.project .row .col-md-6 img{
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-md-6 .row{
    padding: 10px;
}
.col-md-6 .row i{
   color: crimson;
}

.contact{
    height: 90vh;
}
.contact .btn{
    font-size:25px;
}
