*{
    font-family: 'Poppins',sans-serif;
}
.navbar{
    font-size: 15px;
    font-weight: bold;
}
.sticky{
    background-color: black;
}
#navbar li :hover{
    color: black;
}

#welcomePart{
    height: 100vh;
    width: 100%;
    min-width: 600px;
    padding: 50px;
    padding-top: 200px;
    background-image: url("asets/landing.jpg");
    background-size: 100%;
}
.row{
    padding: 5px;
}

#welcomePart .col-6{
    padding: 30px;
    padding-top: 30px;
    justify-content: center;
}
 .col-6 img{
    height: 350px;
    margin-left: 200px;
}
#welcomePart .h1{
    font-size: 50px;
    font-weight: 100;
    background-color: black;
    color: white;
}
#welcomePart .h3{
    background-color: white;
    color: black;
    padding: 10px;
}

#welcomePart .h2{
    font-weight: 1000;
    color: black;
    font-size: 30px;
}
.about{
    height: 100vh;
}

.about .row{
    padding: 30px;
    padding-top: 100px;
}
.about .p{
    font-size: 20px;
}
.about .h2{
    font-weight: bold;
}
hr{
    height: 20px;
}